p.text-p {
	text-align: center;
	color: #07E5F4;
	font-size: 35px;
}
.text-h1 {
	margin-bottom: 50px;
}
div.col-md-2{
	margin-top:10px;
}

div.col-md-3{
	margin-top:10px;
}

div.col-md-4{
	margin-top:10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 20%;
}