h1{
  text-align:center;
}

img.img-responsive{
  margin-left:45%;
}

div.col-lg-2.col-md-push-4{
  margin-top:30px;
}

div.col-md-1.col-md-offset-5{
  margin-top:30px;
}

a.btn.btn-info{
  margin-left:30%;
  margin-top:20px;
}

div.col-lg-1.col-md-push-4{
  margin-top:30px;
}

a.btn.btn-info{
  margin-left:50px;
}

